:root {
  --primary: #f76b6b;
  --secondary: #fda085;
  --accent: #fbc2a0;
  --text-dark: #2d2d2d;
  --text-medium: #555555;
  --text-light: #f4f4f4;
  --highlight: #ffffff;
  --soft-white: rgb(255, 255, 255, 0.9);
  --glass: rgba(255, 255, 255, 0.2);
  --contrast: #6b8cff;
  --gradient-main: linear-gradient(135deg, #f76b6b, #fda085, #fbc2a0);
  --text-shadow-soft: 0 2px 6px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background:
    radial-gradient(
      circle at 25% 25%,
      rgba(255, 255, 255, 0.25),
      transparent 140px
    ),
    radial-gradient(
      circle at 70% 30%,
      rgba(255, 255, 255, 0.2),
      transparent 180px
    ),
    linear-gradient(135deg, #f76b6b, #fda085, #fbc2a0);

  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  color: var(--text-light);
  text-shadow: var(--text-shadow-soft);
}

h1 {
  text-align: center;
  text-shadow: var(--text-shadow-soft);
}

ul {
  display: flex;
  flex-flow: column;
  gap: 16px;
  /* text-shadow: var(--text-shadow-soft); */
}

ul {
  list-style: none;
}

a {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #f4f4f4;
  text-decoration-line: none;
}

a:hover {
  color: var(--text-medium);
}

video {
  width: 90vw;
  border-radius: 6px;
  box-shadow: var(--text-shadow-soft);
}

img {
  width: 90vw;
  border-radius: 6px;
  box-shadow: var(--text-shadow-soft);
}

h2 {
  font-size: 30px;
}

p {
  text-align: center;
  font-size: 18px;
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100vw;
}

.line {
  flex: 1;
  height: 1px;
  background-color: var(--text-light);
  max-width: 150px;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  box-shadow: none;
}
